body {
	margin: 0;
	font-family: Robotica, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

header{
	background-color: #B0E0E6;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
h1, h2{
	font-family: 'Work Sans', sans-serif;
}

h2 {
	font-size: 22px;
	color: #B0E0E6;
	margin: 20px 0px 10px;
}

header h1{
	color: white;
	font-size: 60px;
	text-shadow: 1px 10px 10px blue;
}

header	img{
	border-radius: 180px;
	width: 300px;
	border: 10px solid #fff;

}

main{
	max-width: 900px;
	margin: 0 auto;
	padding: 20px; 
}

main img{
	max-width: 100%;
}

a{
	color: #B0E0E6;

}
a:hover{
	background-color: #B0E0E6;
	color: white; 
}

footer{
	background-color: #B0E0E6;
	text-align: center;
	color: white;
	padding: 20px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;

}

footer a:hover{
	color: white;
	opacity: .75;
	text-decoration: overline;

}

p.caption{
	color: lightgrey;
	font-style: italic;
	margin-top: 0;
	text-align: left;
	text-shadow: 1px 1px 1px grey;


}