body{
	background-color: lightgoldenrodyellow
}
h1{
	font-size: 30px;
	color: crimson
}

h2{
	color: purple;
	font-size: 22px;
}
		h2{
	color: green;
}

.big{
	font-size: 36px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: violet;
}